.estimate {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.buttonsContainer {
    width: 70%;
    height: 100%;
    text-align: right;
}

.btn, .off {
    min-width: 6rem;
    border-radius: 3rem;
    margin: 10px;
    background: linear-gradient(to left, rgb(63, 160, 190), rgb(63, 122, 190));
    opacity: 0.5;
    transition: all 300ms ease-in-out;
    color: white
} 

.btn:hover, .on {
    opacity: 1;
}

.estimatorDetails {
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    text-align: left;
}

.detailTitle {
    font-size: 42px;
    padding: 10px;
}

.detailText {
    width: 90%;
    font-size: 16px;
    padding: 10px;
}
.helpText {
    width: 90%;
    padding: 10px;
    font-style: italic;
    color: #666;
}

.totalContainer {
    width: 30%;
    margin: 0 auto;
}

.totalSection {
    width: 80%;
    height: max-content;
    background: linear-gradient(to top, rgb(63, 160, 190), rgb(63, 122, 190));
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    color: white;
}

.totalTitle {
    font-weight: bold;
    text-align: left;
}

#totalPrice {
    font-weight: bolder;
    font-size: 42px;
    padding: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.totalDetails {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 18px;
}

.detailName {
    text-align: left;
}

.detailPrice {
    text-align: right;
}

.Submit {
    margin-top: 30px;
}

.estimatorForm {
    width: 100%;
    margin-bottom: 20px;
}

.estimatorInput {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgba(34, 34, 34, 0.3);
    color: white;
    padding: 8px;
    margin: 2px;
    opacity: 0.5;
} 

.estimatorInput::placeholder {
    color: white;
}

.loaderIcon {
    animation: rotate 10s linear infinite;
    font-size: 22px;
    vertical-align: middle;
}

@keyframes rotate { 
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
}


@media only screen and (max-width: 1440px) { 
    .estimate {
        padding: 4rem;
    }
    .totalSection {
        width: 95%;
    }
  }

  

@media only screen and (max-width: 768px) {
    
    .estimate {
        flex-direction: column;
    }

    .buttonsContainer {
        width: 100%;
    }

    .totalContainer {
        width: 100%;
    }

    .totalSection {
        width: 100%;
        height: max-content;
        margin-top: 1rem;
    }

    .detailText {
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
    
    .btn {
        min-width: 2rem !important;
        margin: 2px !important;
        font-size: 10px !important;
        padding: 5px;
    }

    #totalPrice {
        font-size: 35px;
        padding: 23px;
    }

    .totalDetails {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .estimatorInput{
        font-size: 14px;
        padding: 4px;
    }

    .Submit {
        padding: 0.5rem;
        margin-top: 15px;
    }
}