.Error {
    animation: Error infinite 1s;
    padding: 1rem;
    padding-left: 0%;
    text-align: center;
    background-color: rgb(252, 249, 246);
    background-image: url('../../assets/404-error.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: color-burn;
}

.errorMessage {
    min-height: 0;
    margin-bottom: 0;
    padding: 5rem;
}
.errorMessage h1 {
    margin-bottom: 5rem;
    font-weight: bold;
}
.errorMessage p {
    font-size: 18px;
}

@keyframes Error {
    0% { 
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    40% { 
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    65% { 
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    95% { 
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}

@media only screen and (max-width: 768px) {
    .Error {
        padding: 0;
    }
    .errorMessage {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .errorMessage h1 {
        font-size: 20px;
        margin-bottom: 5rem;
        font-weight: bold;
    }
    .errorMessage p {
        font-size: 12px;
    }
}

