.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  position: sticky;
  height: 4rem;
  color:  rgb(34, 34, 34);
  margin-bottom: 5rem;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}

.darkmode-toggle {
  z-index: 1;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Media Queries */

@media only screen and (max-width: 1440px) { 
  .CharDescriptionContainer {
    margin-left: -120px !important;
  }
  #CharImage {
    opacity: 0.2;
  }

}
 

@media only screen and (max-width: 1420px) { 
  .section {
    padding: 3rem !important;
  }
  .intro {
    flex-direction: column !important;
    align-items: center !important;
  }
  .logoContainer {
    width: 80% !important;
    margin-bottom: 1rem !important; 
  }
  .sloganContainer {
    text-align: center !important;
    width: 80% !important;
    padding-left: 0 !important;
  }
  .CharDescriptionContainer {
    width: 30rem !important;
    margin-left: 0 !important;
  }
  #CharImage {
    height: 94% !important;
    border-radius: 5px !important;
    opacity: 0.2 !important;
    position: relative !important;
    top: -28rem !important;
    right: 0 !important;
  }

}

@media only screen and (max-width: 1024px) { 
  .Subtitle {
    font-size: 24px;
  }
  .Information {
    width: 70%;
  }

}


@media only screen and (max-width: 768px) {

  .logo {
    height: 90% !important;
    margin-top: 1rem;
    flex: 5 !important;
  }
  .logoCircle {
    display: none;
  }
  .logoText {
    margin-left: 1rem;
    font-size: 25px !important;
  }
  .logoContainer {
    width: 100% !important;
    margin-bottom: 3rem;
  }
  .logoContainer img {
    display: none;
  }
  .links {
    flex: 2;
  }

  .intro {
    flex-direction: column !important; 
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  .sloganContainer {
    padding-left: 0px !important;
    width: 100% !important;
    text-align: center !important;
  }
  .sloganContainer h1 {
    font-size: 30px !important;
  }
  .title {
    font-size: 22px !important;
    margin-bottom: 1rem !important;
  }
  .Subtitle {
    font-size: 18px !important;
    text-align: center !important;
  }

  .InformationContainer{
    width: 90%;
    grid-template-columns: 100% !important;
    grid-template-rows: none !important;
    grid-gap: 2rem !important;
    text-align: -webkit-center;
    text-align-last: center;
  }
  .Information {
    font-size: 16px;
  }

  .characteristic {
    min-height: fit-content !important;
  }
  .CharsTab {
    margin-top: 2rem !important;
    display: block;
  }
  .tab {
    width: 9rem !important;
    height: 2rem !important;
    margin-bottom: 5px !important;
    margin-left: 0 !important;
    display: inline-block;
  }
  .tabName {
    font-size: 12px !important;
    line-height: 2rem !important;
  }
  .tabImage {
    margin: 0 !important;
    width: 100% !important;
    height: 5rem !important;
    position: relative !important; 
    display: block !important;
  }
  .CharDescriptionContainer {
    margin-top: 60px !important;
    margin-left: -40px !important;
    margin: 0 !important;
    width: 100% !important;
    height: 5rem !important;
    padding: 10px;
  }
  #charDescription {
    font-size: 10px !important; 
    margin-top: 0px !important;
    height: fit-content !important;
    padding: 1em !important;
  }
  #CharImage {
    display: none !important;
  }

  .projectSlider {
    min-height: 26vh !important;
    height: fit-content !important;
  }
  .slick-slider {
    width: 100% !important;
    margin:  0 auto;
  }
  .slick-prev, .slick-next {
    display: none !important;
  }
  .slick-list, .slideImageContainer, .slideImage  {
    height: 19vh !important; 
  }

  .Form {
    width: 100% !important;
    margin: 2rem !important;
  }
  .Label {
    font-size: 14px;
    width: 100% !important;
  }
  .Input {
    width: 100% !important;
    font-size: 12px;
  }
  .ContactImage  {
    display: none;
  }
  
  .lds-hourglass h1 {
    font-size: 20px;
  }

  .btn-whatsapp {
    bottom: 9rem !important;
    right: 3.4rem !important;
    z-index: 1;
  }
  .btn-whatsapp a img {
    z-index: 1;
  }

  .darkmode-toggle, .darkmode-layer--button {
    right: 1rem !important;
    bottom: 1rem !important;
  }

}


@media only screen and (max-width: 460px) {
  .section {
    padding: 1rem !important;
  }  
  .tab {
    display: block;
  }
}

@media only screen and (max-width: 320px) {
  .btn-whatsapp {
    bottom: 13rem !important;
  }

  .darkmode-toggle, .darkmode-layer--button {
    bottom: 5rem !important;
  }
}