.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  position: sticky;
  height: 4rem;
  color:  rgb(34, 34, 34);
  margin-bottom: 5rem;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



.goog-te-gadget-simple .goog-te-menu-value {
  display: none;
}
.goog-te-menu-frame {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}







@media only screen and (max-width: 420px) {


  .logo {
    height: 90% !important;
    margin-top: 1rem;
    flex: 5 !important;
  }
  .logoCircle {
    display: none;
  }
  .logoText {
    margin-left: 1rem;
    font-size: 30px !important;
  }
  .logoContainer {
    width: 100% !important;
    margin-bottom: 3rem;
  }
  .logoContainer img {
    display: none;
  }
  .links {
    flex: 2;
  }


  
  .section {
    padding: 1rem !important;
  }  

  
  .intro {
    flex-direction: column !important; 
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  .sloganContainer {
    padding-left: 0px !important;
    width: 100% !important;
    text-align: center !important;
  }
  .sloganContainer h1 {
    font-size: 30px !important;
  }
  .title {
    font-size: 22px !important;
    margin-bottom: 1rem !important;
  }
  .Subtitle {
    font-size: 18px !important;
    text-align: center !important;
  }



  .InformationContainer{
    width: 90%;
    grid-template-columns: 100% !important;
    grid-template-rows: none !important;
    grid-gap: 2rem !important;
    text-align: -webkit-center;
    text-align-last: center;
  }
  .Information {
    font-size: 16px;
  }



  .characteristic {
    min-height: fit-content !important;
  }
  .CharsTab {
    margin-top: 2rem !important;
    display: block;
  }
  .tab {
    width: 9rem !important;
    height: 2rem !important;
    margin-bottom: 5px !important;
    margin-left: 0 !important;
    display: block;
  }
  .tabName {
    font-size: 12px !important;
    line-height: 2rem !important;
  }
  .tabImage {
    margin: 0 !important;
    width: 100% !important;
    height: 5rem !important;
    position: relative !important; 
    display: block !important;
  }
  .CharDescriptionContainer {
    margin-top: 60px !important;
    margin-left: -40px !important;
    margin: 0 !important;
    width: 88vw !important;
    height: 5rem !important;
    padding: 10px;
  }
  #charDescription {
    font-size: 10px !important; 
    margin-top: 0px !important;
    height: fit-content !important;
  }
  #CharImage {
    display: none !important;
  }





  .projectSlider {
    min-height: 26vh !important;
    height: fit-content !important;
  }
  .slick-slider {
    width: 100% !important;
    margin:  0 auto;
  }
  .slick-prev, .slick-next {
    display: none !important;
  }
  .slick-list, .slideImageContainer, .slideImage  {
    height: 19vh !important; 
  }



  .Form {
    width: 100% !important;
    margin: 2rem !important;
  }
  .Label {
    font-size: 14px;
    width: 100% !important;
  }
  .Input {
    width: 100% !important;
    font-size: 12px;
  }
  .ContactImage  {
    display: none;
  }


  


  .FooterInfo p {
    font-size: 8px;
  }
  .heart {
    font-size: 8px !important;
  }
  .SocialMediaContainer {
    grid-template-columns: 9vw 9vw !important;
    row-gap: 0rem !important;
  }
  .SocialMediaName {
    margin-left: 0% !important;
  }
  .SocialMediaButton {
    padding: 5px !important;
    width: 2rem !important;
    border-radius: 60px !important;
  }
  .ButtonContainer {
    right: 1rem !important;
    bottom: 3.5rem !important;
    width: 2rem !important;
    height: 2rem !important;
    font-size: 26px !important;
  }
  .iconContainer {
    padding: 0rem !important;
  }


  
  .goog-te-gadget-simple {
    margin-left: 60px;
  }

  .btn-whatsapp {
    right: 2.3rem !important;
  }
  .btn-whatsapp a img {
    width: 40px !important;
  }

  .darkmode-toggle, .darkmode-layer--button {
    width: 36px !important;
    height: 36px !important;
    right: 1rem !important;
    bottom: 65% !important;
  }

}