.ProjectCardContainer {
    width: 30rem;
    height: 35rem;
    background-color: rgb(39, 162, 167);
    transition: all 300ms ease-in-out;
    filter: grayscale(0.9);
    display: inline-table;
}
.ProjectCardContainer:hover {
    background-color:  rgb(39, 162, 167);
    filter: none;
}