.container {
  max-width: 100%;
}
.tr {
  width: 100%;
  display: flex;
  align-content: space-between;
  justify-content: center;
  height: max-content;
  background-color: #222;
}
.trInfo {
  background-color: #444 !important;
}
.th {
  flex: 1;
}
.td {
  flex: 1;
  align-self: center;
}
.td svg {
  font-size: 24px;
}
.stateButton {
  cursor: pointer;
  transition: 200ms all ease-in-out;
  color: crimson;
}
.stateButton:hover {
  color: white;
}
.logout {
  background:  linear-gradient(to left, rgb(190, 63, 84), rgb(190, 63, 63));;
  border-radius: 5px;
}
@media only screen and (max-width: 1024px) {
  .td {
    max-height: 10rem;
    overflow: scroll;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: none;
  }
  .th {
    font-size: 15px !important;
  }
  .td {
    font-size: 10px !important;
    margin: 5px;
  }
  .td svg {
    font-size: 18px !important;
  }
}
@media only screen and (max-width: 460px) {
  h1 {
    font-size: 22px;
  }
  .container {
    padding: 0%;
  }
  .thead, .tbody {
    width: 35%;
  }
  .tbody {
    width: 65%;
  }
  .tr {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #222;
  }
  .td svg {
    font-size: 15px i !important;
  }
  .table {
    margin-top: 2rem !important;
    padding: 2px;
    border-top: 1px solid #dee2e6;
    display: flex;
  }
}