.section {
    border: 1px solid rgba(238, 238, 238, 0.568);
    min-height: 35rem;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 8rem; 
    padding: 10rem;
}
.title {
    text-align: left;
    font-weight: 400;
    height: 3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ddd;
    color: rgb(63, 114, 190);
}
.Proyectos {
    width: 80%;
    margin: 0 auto;
}
.InformationContainer {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15rem 15rem;
    grid-gap: 3rem;
}
.Subtitle {
    font-weight: 500;
    text-align: left;
    margin-bottom: 1rem;
}
.Information {
    text-align: justify;
    font-weight: lighter;
    font-size: 14px;
    line-height: 1.5;
    width: 80%;
    justify-content: center;
}

.intro {
    display: flex;
    flex-direction: row;
}
.logoContainer {
    display: inline;
    width: 40%;
}
.sloganContainer{
    text-align: left;
    width: 60%;
    padding-left: 20%;
}
.sloganText {
    font-size: 70px;
    font-weight: bold;
}
.One {
    animation: Slogan-FadeIn ease 4s;
}
.Two {
    color: rgb(63, 114, 190);
    animation: Slogan-FadeIn  6s;
}
.Three {
    animation: Slogan-FadeIn  8s;
}
.characteristic {
    background-color: rgb(235, 235, 235);
    margin-bottom: 0;
}
.characteristicsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.characteristics{
    width: 20%;
}
.ScrollBottomButton {
    margin-bottom: 3rem;
    height: 3rem;
}

@keyframes Slogan-FadeIn {
    0% { 
        opacity: 0;
        padding-left: 5rem;
    }
    100% {
        opacity: 1;
        padding-left: 0;
    }
  }