.aboutText {
    text-align: initial;
}

.profileContainer {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    border-bottom: 1px solid rgba(238, 238, 238, 0.568);
    width: 100%;
    height: 100%;
    text-align: left;
}
.avatarContainer {
    margin-right: 4rem;
}
.profileName {
    font-weight: 500;
}
.profileDescription {
    margin-left: 5rem;
    margin-top: 1rem;
}
#avatar {
 border-radius: 100px;
 border: 2px solid rgba(34, 34, 34, 0.5);
 width: 200px;
 height: 200px;
}
.profileTitle {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 15rem;
}