.Tools {
    display: flex;
    flex-direction: row;
    background-image: url("https://images2.alphacoders.com/260/260640.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    margin-bottom: 5%;
}
.section {
    min-height: 35rem;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 8rem; 
    padding: 10rem;
    width: 100%;
}