.card {
  width: 270px;
  height: 370px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 1px rgba(34, 34, 34, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cardImage {
  height: 65%;
  width: 80%;
  border-bottom: 1px solid #ccc;
}

.imageIconContainer {
  width: 100%;
  height: 100%;
  margin:  0 auto;
  padding-top: 40%;
}
  
.imageIcon {
  font-size: 6em;
  color: #333;
}

.imageBackground {
  position: absolute;
  left: 25%;
  top: 20%;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: rgba(63, 114, 190, 0.6);
  mix-blend-mode: multiply;
}

.cardData {
  height: 35%;
  width: 100%;
  padding: 10px;
}

.cardTitle {
  font-weight: bold;
}

.cardData {
  font-size: 14px;
}