.CharsTab {
    margin-top: 5rem;
}

.tabs {
    display: inline;
}

.CharDescriptionContainer {
    position: absolute;
    margin-left: -300px;
    margin-top: 150px;
    border-radius: 5px;
    background-color: rgba(34, 34, 34, 0.8);
    width: 36rem;
    height: 18rem;
    z-index: 2;
}
#charDescription {
    margin: 0 auto;
    margin-top: 18%;
    color: white;
    width: 80%;
    height: 500px;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    font-weight: lighter;
}

#CharImage {
    height: 100%;
    border-radius: 5px;
    opacity: 0.6;
}

.tabImage {
    position: absolute;
    display: inline;
    height: 500px;
    margin-top: -300px;
    margin-left: 2rem;
    animation: Image-FadeIn ease 1s;
}

@keyframes Image-FadeIn {
    0% { 
        opacity: 0;
        padding-left: 5rem;
    }
    100% {
        opacity: 1;
        padding-left: 0;
    }
}

