.tab {
    position: relative;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 20rem;
    height: 4rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    margin-bottom: 1rem;
}

.tab:hover {
    border: 1px solid rgb(45, 81, 136);
    background-color: rgb(63, 114, 190);
    color: white;
    margin-left: 2rem;
}

.tabName {
    line-height: 4rem;
}