.contact {
    margin-top: 2rem !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    background-color: rgba(238, 238, 238, 0.63);
}
.contactTitle {
    width: 80%;
    padding-top: 5rem;
    margin: 0 auto;
}
.ContactContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Form {
    width: 40%;
    margin-bottom: 2rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Label {
    width: 50%;
    text-align: left;
    font-weight: bold;
    color: #222;
    font-size: 17px;
}
.Input {
    margin-bottom: 1rem;
    width: 80%;
    border: none;
    border-radius: 5px;
    border: solid 2px rgb(241, 237, 233);
    padding: 5px;
    font-size: 15px;
    color: #222;
    font-family: Helvetica, sans-serif;
    transition: all 300ms ease-in-out;
}
.Input:focus {
    outline: none;
    border: solid 2px rgb(63, 122, 190);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(142, 173, 219);;
}
.Input::placeholder {
    color: #ccc;
}
.Message {
    height: 8rem;
    font-size: 16px;
}
.Submit {
    padding: 5px;
    height: 3rem;
    width: 6rem;
    border-radius: 30px;
    border: 2px solid rgb(63, 122, 190);
    background: linear-gradient(to left, rgb(63, 160, 190), rgb(63, 122, 190));
    font-size: 16px;
    color: white;
    transition: all 300ms ease-in-out;
}
.Submit:hover {
    cursor: pointer;
    opacity: 100%;
    border: 2px solid white;
}

.notValid {
    border: 2px solid  rgb(221, 74, 74);
}
.Valid {
    border: 2px solid  rgb(74, 221, 111);
}
.notValidMessage {
    font-size: 14px;
    color: rgb(221, 74, 74);
    margin-left: 30%;
}

.ContactImage {
    width: 40rem;
    height: 25rem;
    border-radius: 10px;
    align-self: center;
    margin: 0 auto;
}
.myButton {
	box-shadow: 3px 4px 0px 0px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:15px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}