@font-face {
    font-family: LogoFont;
    src: url('../../assets/Urban.ttf')
}
.smallNav {
    display: none !important;
}
.navBar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.App-header {
    z-index: 1;
}
.links {
    display: flex;
    flex: 2;
    width: 85%;
    flex-direction: row;
    justify-content: flex-end;
    border: none;
}
.link {
    color:  rgba(34, 34, 34, 0.5);
    display: inline;
    padding: 1em;
    margin-right: 20px;
    transition: all 300ms ease-in-out;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    text-decoration: none;    
}
.link:hover {
    border-bottom: 2px solid rgb(63, 114, 190);
    color: rgba(34, 34, 34, 0.7);
    font-weight: 400;
    text-decoration: none;
}
.selected {
    border-bottom: 2px solid rgb(63, 114, 190);
    color:  rgb(34, 34, 34);
    font-weight: 500;
}
.logo {
    flex: 1;
    display: inline;
    width: 20%;
    height: 100%;
    text-align: left;
}
.logoCircle {
    width: auto;
    margin-top: 0.3rem;
    margin-right:0.5rem;
    margin-left: 0.5rem;
    border-radius: 10px;
}
.logoText {
    display: inline;
    width: fit-content;
    font-weight: 550;
    font-size: 40px;
    vertical-align: bottom;
    font-family: LogoFont;
    color: rgb(63, 114, 190);
}



@media only screen and (max-width: 1110px) {

    .App-header {
        margin-bottom: 6rem;
    }
    .smallNav {
        display: flex !important;
    }
    .largeNav {
        display: none !important;
    }
    #linksMenu {
        background-color: white;
        display: flex;
        flex: 1;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        border: none;
        top: -20rem;
        position: absolute;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .link {
        margin-right: 0;
    }
    .navBar {
        background-color: white;
        height: 3rem;
    }


}
